header {
  height: 64px;
  width: 100%;
  position: fixed;
  top: -16px;
  z-index: 1;
  -webkit-backface-visibility: hidden;
}

header div {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

header::before,
header::after {
  content: "";
  display: block;
  height: 2px;
  position: sticky;
  -webkit-position: sticky;
}

header::before {
  top: 60px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}

header::after {
  background: linear-gradient(rgb(192, 192, 192), rgba(255, 255, 255, 0.3));
  top: 0;
  z-index: 2;
}

header > div {
  background: white;
  padding: 20px;
  position: sticky;
  top: 0px;
  margin-top: -16px;
  z-index: 3;
}

.logo {
  height: 80%;
  overflow: visible;
  padding-left: 1.5%;
  cursor: pointer;
  margin-top: 30px;
}

#header-items {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #858585;
  width: 450px;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  cursor: pointer;
  text-align: center;
  height: 100%;
  /* background: lightblue; */
  height: 48px;
  box-sizing: border-box;
  border-bottom: 3px solid white;
  transition: 0.15s linear;
  height: 60px;
}

nav ul:hover {
  /* background-color: red; */
  border-bottom: 3px solid #d84b20;
}

#btn-set-container {
  padding: 0 2% 0 6%;
}
