html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.custom-color {
  color: #d84b20;
}

.custom-background-color {
  background-color: #d84b20;
}

button {
  font-family: "Poppins";
  /* padding: 10px 35px; */
  padding: 0.6vw 2.8vw;
  font-size: 1.2vw;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* apply custom-color */
button.btn-white {
  border: 1px solid #c3c3c3;
  background: white;
}

/* apply custom-background-color */
button.btn-red {
  border: 1px solid #a92700;
  color: white;
}

.content-wrapper {
  height: 80%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.page-title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.7vw;
}

.text-content {
  width: 90%;
  align-self: center;
  font-size: 1.3vw;
}

.custom-color-translucent {
  background-color: #d84b2018;
}

footer {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer div {
  width: 20%;
  text-align: center;
  font-size: 0.8vw;
  color: white;
}

.popup {
  position: absolute;
  top: 50%;
  font-size: 50px;
}

a {
  text-decoration: none;
}
