.modal-bg {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container {
  background-color: #fefefe;
  margin: 3% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.close {
  position: absolute;
  color: #c3c3c3;
  float: right;
  font-size: 58px;
  font-weight: bold;
  right: 17%;
}

.close:hover,
.close:focus {
  color: #d84b20;
  text-decoration: none;
  cursor: pointer;
}

#modal-content {
  height: 95%;
  width: 80%;
  margin: auto;
}

#modal-title {
  font-weight: 500;
  font-family: "Poppins";
  font-size: 1.9vw;
}

#bookclubrego {
  height: 80%;
  width: 100%;
}

#bookclubrego form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.form-column {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#right-form-column {
  width: 45%;
}

#userDetails {
  height: 60%;
  width: 100%;
}

#contacts {
  width: 100%;
  height: 40%;
}

.form-section-title {
  font-family: "Poppins";
  font-size: 1.4vw;
  font-weight: 400;
  line-height: 0;
}

#name-fields {
  height: 30%;
  width: 80%;
  display: flex;
  flex-direction: row;
}

.name-field-container {
  width: 50%;
}

form p {
  font-size: 1vw;
  line-height: 0;
}

.form-column p {
  line-height: 0;
}

input {
  height: 25px;
  font-size: 1.1vw;
  width: 90%;
  background-color: transparent;
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  font-weight: 200;
}

input:focus {
  outline: none;
  border: 1px solid #d84b20 !important;
}

#username-pw {
  height: 50%;
  width: 50%;
}

#mobile-email {
  height: 90%;
}

#contacts {
  display: flex;
  flex-direction: column;
}

#mobile {
  width: 50%;
}

#email {
  width: 80%;
}

#addresses {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#address-container {
  height: 75%;
}

.address-content {
  height: 50%;
}

.address-content > textarea {
  width: 98%;
  height: 77%;
  font-size: 1.1vw;
  background-color: transparent;
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  font-weight: 200;
}

textarea:focus {
  outline: none;
  border: 1px solid #d84b20 !important;
}

#form-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-button {
  width: 45%;
}
